<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sudoku</title>
  <link rel="stylesheet" href="/assets/main.css">
  <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
</head>
<body>
  <h1>Paul's Sudoku Page!</h1>
  <h3>Puzzle Id:</h3>
  <form>
    <select name="grid_id" hx-get="/dgrid/:grid_id" hx-target=".sudoku_div" hx-swap="innerHTML">
      <option id="id_placeholder">Select an option...</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </form>
  <br>
  <h3>Techniques:</h3>
  <select name="tech_id" hx-get="/technique/:tech_id" hx-target=".sudoku_div" hx-swap="innerHTML">
    <option id="tech_placeholder">Select an option...</option>
    <option value="1">Last Free Cell</option>
    <option value="2">Last Remaining Cell</option>
    <option value="3">Last Possible Number</option>
    <option value="4">Obvious Singles</option>
    <option value="5">Obvious Pairs</option>
    <option value="6">Obvious Triples</option>
    <option value="7">Hidden Singles</option>
    <option value="8">Hidden Pairs</option>
    <option value="9">Hidden Triples</option>
    <option value="10">Pointing Pairs</option>
    <option value="11">Pointing Triples</option>
    <option value="12">X-Wing</option>
    <option value="13">Y-Wing (XY Wing)</option>
    <option value="14">Swordfish</option>
  </select>
  <div class="sudoku_div"></div>
</body>
</html>